/* 
 *    By Theuns Dirkse-van Schalkwyk for TetraGenius/WorkflowMade Easy
 */

.instruction {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap-collapsible {
  margin-bottom: 0.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;

  padding: 0.02rem;

  color: #ffff00;
  background: #A1A20E;

  cursor: pointer;

  border-radius: 15px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #211205;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid currentColor;
  vertical-align: middle;
  margin-right: .1rem;
  transform: translateY(-0px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 300px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, 0);
  border-bottom: 1px solid rgba(250, 224, 66, 0);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0rem 0rem;
}
.wrap-collapsible2 {
  margin-bottom: 0.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle2 {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;

  padding: 0.02rem;

  color: #ffff00;
  background: #A1A20E;

  cursor: pointer;

  border-radius: 15px;
  transition: all 0.25s ease-out;
}

.lbl-toggle2:hover {
  color: #211205;
}

.lbl-toggle2::before {
  content: ' ';
  display: inline-block;

  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid currentColor;
  vertical-align: middle;
  margin-right: .1rem;
  transform: translateY(-0px);

  transition: transform .2s ease-out;
}

.toggle2:checked + .lbl-toggle2::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content2 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.toggle2:checked + .lbl-toggle2 + .collapsible-content2 {
  max-height: 700px;
}

.toggle2:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content2 .content-inner2 {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0rem 0rem;
}
.lbl-toggle0 {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;

  padding: 0.02rem;

  color: #ffff00;
  background: #A1A20E;

  cursor: pointer;

  border-radius: 10px;
  transition: all 0.25s ease-out;
}

.lbl-toggle0:hover {
  color: #211205;
}

.lbl-toggle0::before {
  content: ' ';
  display: inline-block;

  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid currentColor;
  vertical-align: middle;
  margin-right: .1rem;
  transform: translateY(-0px);

  transition: transform .2s ease-out;
}

.toggle0:checked + .lbl-toggle0::before {
  transform: rotate(90deg) translateX(-3px); 
}

.collapsible-content0 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.toggle0:checked + .lbl-toggle0 + .collapsible-content0 {
  max-height: 200px;
}

.toggle0:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content0 .content-inner2 {
  background: rgba(250, 224, 66, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0rem 0rem;
}
.glow {
  font-size: 13px;
  color: #000;
  text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.glow2 {
  font-size: 36px;
  color: #000;
  text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
from {
    text-shadow: 0 0 4px #fda, 0 0 6px #fda, 0 0 8px #fda, 0 0 10px #dfa, 0 0 12px #dfa, 0 0 15px #efb, 0 0 16px #ffc;
  }
  
  to {
    text-shadow: 0 0 5px #ffc, 0 0 7px #ffb, 0 0 9px #ffa, 0 0 11px #efa, 0 0 13px #dfa, 0 0 15px #cfa, 0 0 17px #bfa;
  }
}
